:root {
    --vermelho: #e50914;
    --preto: #141414;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Base Elements */

body {
    background-color: var(--preto);
    font-family: Arial, Helvetica, sans-serif, Times, serif;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: start;
    position: fixed;
    margin: 10px 0px;
    margin: 30px 50px;
    z-index: 5;
}

header .logo {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif, Times, serif;
    font-size: 40px;
    text-align: left;
    color: var(--vermelho);
}

header .navigation-bar{
    margin: 0 3rem;
}

header nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
}

header nav a:hover {
    color: #aaa;  
}

header nav a:focus {
    color: #fff;
    font-weight: 700;
}

/* Main Movie */

.main-movie {
    font-size: 34px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url('/img/vikings.jpg');
    background-size: cover;

    height: 780px;
    margin-top: -20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    align-items: flex-start;
}

.main-movie .description {
    margin-bottom: 30px;
    width: 50%;

    text-align:justify;
    font-size: 26px;
}

.main-movie .container {
    margin: 350px 50px 0px 50px;
}

.first-button {
    font-size: 24px;
    font-weight: 600;

    height: 60px;
    width: 350px;
    border: none;
    border-radius: 5px;

    cursor: pointer;
}

.first-button:hover {
   background: #ccc;
   transition: .3s ease all;
}

.first-button i {
    margin-right: 20px;
}

.second-button {
    font-size: 24px;
    font-weight: 600;
    color: #fff;

    width: 200px;
    height: 60px;
    border: none;
    border-radius: 5px;

    background: rgba(204, 204, 204, 0.39);

    cursor: pointer;
}

.second-button:hover {
    background: rgba(126, 112, 112, 0.315);
    transition: .3s ease all;
}

.movies-carousel h2 {
    color: #fff;
    font-size: 32px;
    margin: 15px 50px 15px 50px;
}

.movies-carousel img {
    margin: 0px 50px;
}

.movies-carousel img:hover {
    cursor: pointer;
}

/* Class to control the size of images */

.movie-box {
    height: 250px;
    width: 420px;
    display: block;
}

footer {
    display: flex;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    margin: 30px 0px 10px 0px;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}